@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.close-icon {
  color: white;
  cursor: pointer;
}

#toolbar {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  min-height: 7vh;
  border-bottom-left-radius: 23px;
}

.logo-h1 {
  color: #6070ff;
  font-size: 16px;
  text-decoration: none;
}

.logo-nav {
  width: 100%;
  text-decoration: none;
}

.burger {
  text-align: end;
}

nav ul {
  display: none;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
}

.menu-bar {
  display: flex;
  width: 0;
  height: 0;
  background: #6070ff;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu-bar.open-bar {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.menu-bar ul {
  margin: 10px 25px;
  padding: 28px 2px;
  list-style-type: none;
}

.primarytext li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
}

.pop2-lang li {
  background: #ebebff;
  color: #6070ff;
  margin: 14px 10px 20px 0;
  border-radius: 8px;
  padding: 2px 8px;
  font-size: 12px;
}

.pop-tech li {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.menu-bar ul li {
  padding: 20px 1px;
}

.btn a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
}

.languages a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-a {
  text-decoration: none;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: start;
  width: 84px;
  height: 20px;
}

.menu-bar ul li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 22px 24px 0 0;
}

.languages img {
  padding: 16px;
  position: relative;
  right: 20px;
}

.lang-seperators img {
  width: 327px;
}

#lang img {
  position: relative;
  left: -3px;
}

#toolbar nav img:hover {
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-container {
  margin: 0 24px;
}

.hero {
  background: url('./Pictures/headershapes.png') no-repeat;
  background-size: 100% auto;
  gap: 12px;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #172b4d;
  width: 100%;
  height: 650px;
  left: 0;
  top: 0;
}

.hero h1 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

footer p {
  width: 100%;
  margin: 19px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-align: center;
}

.hero p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

footer h2 {
  width: 100%;
  margin-top: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.hero h2 {
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0;
  color: #5964c1;
}

.social-container {
  display: flex;
  margin: 5px 0;
  gap: 20px;
  list-style-type: none;
}

.work {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-top: 50px;
  gap: 88px;
  background-color: #f7f7f9;
}

.work-button {
  padding: 16px;
}

.work p {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.card {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.leftblock {
  flex-direction: column;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.w3imgdt {
  display: none;
}

.about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin: 80px 0 0 0;
}

.letsConnect {
  width: 100%;
  text-decoration: none;
}

.languages h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #253858;
}

.pop-container h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: start;
  margin: 14px 0 0 20px;
  color: #172b4d;
}

.card ul li h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 32px;
  margin-bottom: 12px;
}

.client {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 32px;
}

.role {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 32px;
}

.year {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 29px;
  height: 32px;
}

.clienttext {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #344563;
  line-height: 22px;
}

.roletext {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #484e5a;
}

.yeartext {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #484e5a;
}

.about p {
  font-weight: 400;
  font-size: 16px;
}

.pop-info p {
  margin: 0;
  font-size: 14px;
}

.card ul li p {
  width: 295px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 24px;
}

.card ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
}

.btn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: white;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px;
  align-self: flex-start;
  text-decoration: none;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 26px 0;
  gap: 8px;
  width: 100%;
}

.tag1 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  background: #ebebff;
  border-radius: 8px;
}

.tag2 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  width: 45px;
  background: #ebebff;
  border-radius: 8px;
}

.tag3 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 2px;
  width: 89px;
  background: #ebebff;
  border-radius: 8px;
}

.about h3 {
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0;
  color: #5964c1;
}

.lang-text h3 {
  font-weight: 500;
  font-size: 20px;
  color: black;
  align-self: center;
}

.languages h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
}

.framework-button {
  display: flex;
  border: none;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
}

.framework-dropdown {
  width: 0;
  height: 0;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 0.4rem;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  overflow: hidden;
}

.framework-dropdown.open-framework-dropdown {
  opacity: 1;
  width: 100%;
  height: auto;
}

.framework-dropdown-ul {
  gap: 6px;
  display: flex;
  width: 70%;
}

.framework-dropdown-li {
  text-align: center;
  border-radius: 6px;
  list-style-type: none;
  width: 100%;
  color: black;
  background-color: #f7f7f9;
  border: 1px solid #6070ff;
  font-size: 17px;
}

.skills-button {
  display: flex;
  border: none;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
}

.skills-dropdown {
  width: 0;
  height: 0;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 0.3rem;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  overflow: hidden;
}

.skills-dropdown.open-skills-dropdown {
  opacity: 1;
  width: 100%;
  height: auto;
}

.skills-dropdown-ul {
  display: flex;
  width: 100%;
  gap: 8px;
}

.skills-dropdown-li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  color: black;
  background-color: #f7f7f9;
  border: 1px solid #6070ff;
  border-radius: 6px;
  font-size: 14px;
  margin: 6px 0;
  padding: 0 4px;
}

.tags a h3 {
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #3f478f;
  line-height: 16px;
  text-align: center;
}

.btn a h6 {
  width: 100px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #396df2;
}

.btn a:hover {
  background: #6070ff;
  transition: 0.8ms;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn a:active {
  background: #2230d2;
  transition: 0.8ms;
  color: white;
}

.btn1:hover {
  background: #6070ff;
  transition: 0.8ms;
  color: white;
}

.btn1:active {
  background: #2230d2;
  transition: 0.8ms;
  color: white;
}

.about-container {
  width: 100%;
  margin: 100px 0 0 0;
  padding: 0;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border: 1px solid white;
  border-top-right-radius: 50px;
  background: white;
  padding: 100px 24px;
  color: #172b4d;
}

.languages {
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lang-divs {
  width: 100%;
  display: flex;
  align-items: center;
}

.lang-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#lang {
  background-color: #f7f7f9;
  margin: 20px 0 0 0;
}

.lang-seperators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-row {
  width: 100%;
  transition: opacity 600ms ease-in-out;
}

.lang-row.close-lang-menu {
  padding: 0.4rem;
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  margin-top: 30px;
}

.lang-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.fa-chevron-down {
  width: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  color: #738da8;
}

.fa-chevron-down.anti-rotate {
  color: #6070ff;
  transform: rotateZ(-90deg);
  box-shadow: 6px 2px 20px 6px rgb(96, 112, 255, 0.6);
}

.arrow-container {
  display: inline-block;
}

.fa-chevron-right {
  display: flex;
  align-items: center;
  color: #738da8;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.fa-chevron-right.rotate {
  color: #6070ff;
  transform: rotateZ(90deg);
  background-color: white;
  box-shadow: 2px 5px 20px 4px rgb(96, 112, 255, 0.6);
}

.contact-me {
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./Pictures/FinalNew.svg) no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-color: #6070ff;
}

.form-js {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

.input {
  width: 100%;
  height: 16%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin: 8px 0;
  padding: 0 10px;
}

label {
  visibility: hidden;
  width: 0;
  height: 0;
}

.input-textarea {
  width: 100%;
  height: 50%;
  border: 1px solid #cfd8dc;
  text-align: start;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin: 8px 0;
  padding: 10px;
}

.input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.input-textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.btn {
  height: 16%;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #3a45a5;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.contact-btn {
  padding: 16px;
  height: 16%;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #3a45a5;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.contact-btn:hover {
  background: #6070ff;
  border-radius: 8px;
  color: white;
}

.contact-btn:active {
  color: white;
  background: #2230d2;
}

.error-js {
  width: 70%;
  font-size: 14px;
  color: rgb(222, 119, 119);
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 70px;
  padding: 0;
  margin: 10px 0 0 0;
}

/* ============Mobile pop view========== */

.pop-section {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: rgba(193, 199, 208, 0.8);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

.pop-section .pop-container {
  background: #fff;
  border-radius: 20px;
  position: relative;
  max-height: 100%;
  display: none;
}

.pop-section .pop-container.active {
  display: inline-block;
}

.pop-container i {
  cursor: pointer;
  color: #67798e;
  right: 0;
  position: absolute;
  padding: 25px 38px 0 0;
}

.pop-tech {
  display: flex;
  gap: 20px;
  font-size: 14px;
  justify-content: flex-start;
  margin: 14px 0 14px 20px;
}

.pop-container .canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  list-style-type: none;
  color: #344563;
  text-align: center;
}

.pop-container .preview-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-container .pop-pic {
  max-width: 90%;
  width: 100%;
}

.pop-info {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
}

.pop-view-2 {
  display: flex;
  flex-direction: column;
}

.pop-view-2 .pop2-lang {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.pop-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 16px 20px;
  border-radius: 6px;
  border: 2px solid #6790f7;
}

.pop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  padding: 8px;
}

.pop-button .live-btn {
  border: 2px solid #6070ff;
  text-decoration: none;
  border-radius: 6px;
  color: #6070ff;
  font-size: 12px;
  padding: 4px 12px 4px 12px;
}

/* ======desktop media 768px min-width===== */

@media screen and (min-width: 768px) {
  #toolbar {
    display: flex;
    justify-content: space-around;
  }

  .burger-menu {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  #lang img {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  #toolbar nav img {
    transition: transform 0.7s;
  }

  #toolbar nav img:hover {
    transform: rotate(-10deg);
  }

  .nav-ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }

  nav {
    padding: 0 40px;
  }

  nav ul li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #344563;
  }

  nav ul li a {
    color: #344563;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
  }

  .btn a {
    transition: background-color 1s ease-in-out;
  }

  nav ul li a:hover {
    background-color: #6070ff;
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 6px;
  }

  .hero {
    align-items: center;
    justify-content: center;
    background-image: url(./desktopPics/Hero\ Desktop\ Background.svg);
    background-size: 100% auto;
    height: 916px;
  }

  .hero h1 {
    width: 70%;
    font-size: 48px;
    color: #091e42;
    font-weight: 700;
  }

  footer p {
    width: 569px;
    height: 102px;
  }

  .hero p {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }

  .hero h2 {
    width: 100%;
  }

  .div-hero {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-socialcontainer {
    width: 100%;
  }

  .work {
    margin-top: 0;
  }

  #work-article-1 {
    order: 3;
  }

  #work-article-2 {
    order: 4;
  }

  #work-article-3 {
    order: 1;
  }

  #work-article-4 {
    order: 2;
  }

  .card {
    grid-gap: 4%;
    flex-direction: row;
    justify-content: center;
  }

  .card h2 {
    min-width: 100%;
    font-size: 40px;
  }

  .w3imgmb {
    display: none;
  }

  .w3imgdt {
    display: block;
  }

  .snapshot {
    width: 100%;
    flex: 1;
    transition: all 0.3s ease-in;
  }

  .snapshot:hover {
    transform: scale(1.06);
  }

  .leftblock {
    flex: 1;
  }

  #swap-pos {
    order: 2;
    flex: 1;
  }

  #pos-swap {
    order: 1;
  }

  .about-container {
    display: flex;
  }

  .about {
    margin: 100px 0;
    width: 50%;
    padding: 0 100px;
  }

  .about h2 {
    margin: 26px 0 0 0;
  }

  section .languages {
    width: 50%;
    align-items: flex-start;
  }

  .lang-divs {
    width: 90%;
  }

  .lang-skills {
    width: 100%;
  }

  .lang-row {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
  }

  #lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  #lang h3 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  footer {
    background-image: url(./desktopPics/Contact-form-desktop.svg);
    background-size: 100% auto;
  }

  footer .btn {
    margin-right: 0;
  }

  footer form {
    width: 500px;
    margin-top: 0;
  }

  .input {
    width: 400px;
    margin: 14px 0;
  }

  .input-textarea {
    width: 400px;
    margin: 14px 0;
  }

  /* =============Popup Preview dsktp========= */

  .pop-section {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: rgba(193, 199, 208, 0.8);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
  }

  .pop-section .pop-container {
    background: #fff;
    border-radius: 20px;
    position: relative;
    display: none;
  }

  .pop-section .pop-container.active {
    display: inline-block;
  }

  .pop-container i {
    right: 0;
    position: absolute;
    padding: 25px 50px 0 0;
    cursor: pointer;
  }

  .pop-container h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding: 0 0 0 20px;
  }

  .pop-tech {
    display: flex;
    gap: 50px;
    padding: 0 0 0 20px;
  }

  .pop-container .canopy {
    list-style-type: none;
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
  }

  .pop-container .preview-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-height: 300px;
  }

  .pop-info {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 20px;
  }

  .pop-info p {
    margin: 0;
    padding: 0;
  }

  .pop-view-2 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .pop2-lang li {
    background: #ebebff;
    color: #6070ff;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 12px;
  }

  .pop-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-button button {
    padding: 0;
    margin: 0;
  }

  .pop-button .live-btn {
    border: 2px solid #6070ff;
    text-decoration: none;
    border-radius: 6px;
    color: #6070ff;
    font-size: 12px;
  }
}
